<div style="float: right; margin-top: 10px; margin-right: 20px;">
    {% if request.user.is_authenticated %}#bai 10
        # da dang nhap 
        <span style="font-weight: bold; color: blue;">Xin chào, {{ request.user.username }}!</span> | 
        <a href="{% url 'custom_logout' %}" style="color: red; text-decoration: none;">Đăng xuất</a>
    {% else %}
        #chua dang nhap
        <a href="{% url 'user_login' %}" style="color: green; text-decoration: none;">Đăng nhập</a> | 
        <a href="{% url 'user_register' %}" style="color: green; text-decoration: none;">Đăng ký</a>
    {% endif %}
</div>